@mixin orange-button {
  width: 75px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  background-color: var(--button-color1);
  &:hover {
    background-color: var(--button-color4);
  }
  &:active {
    background-color: var(--button-color2);
    color: #000;
  }
}

@mixin delete-button {
  width: 75px;
  height: 35px;
  color: #fff;
  background-color: var(--button-color3);
  font-weight: bold;
  &:hover {
    background-color: var(--button-color4);
  }
  &:active {
    background-color: var(--button-color2);
    color: #000;
  }
}
